# Question
### A company started to invest in digital marketing as a new way of their product promotions.For that they collected data and decided to carry out a study on it.
#### ● The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.
#### ● The company needs to check whether there is any dependency between the features “Region” and “Manager”.

## Initial Setup

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats as st

## Reading Data

In [2]:
df = pd.read_csv("D:\Data Science and Analytics\Casestudy 4\Sales_add.csv")

In [3]:
df.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [4]:
df.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

## 1) To clarify whether there is any increase in sales after stepping into digital marketing we should do:
### Paired T test - One Tail
#### • Ho: There is no change in sales before and after digital marketing
#### • Ha: Sales have increased after digital marketing
#### • Level of significance $α$: 0.05

In [5]:
#Doing Paired T-test
statisticValue,pValue=st.ttest_rel( df["Sales_After_digital_add(in $)"],df["Sales_before_digital_add(in $)"], axis=0, nan_policy='omit', alternative='greater')

In [6]:
#Printing P-value
print("The P-Value is =",pValue)

The P-Value is = 3.168333502287889e-11

### Insights
#### • P-Value is very much lesser than 0.05 (Level of significance)
#### • Thus we can infer that our null hypothesis is false at 0.05 (Level of significance)
#### • There is significance change in sales after digital marketing

# 2) The company needs to check whether there is any dependency between the features “Region” and “Manager”:

### Chi-Square test of independence

#### • Ho: There is no dependency between the features “Region” and “Manager”
#### • Ha: There is significant dependency between the features “Region” and “Manager”
#### • Level of significance α: 0.05

In [7]:
#Collecting "Manager" and "Region" data
dataManager=df["Manager"]
dataRegion=df["Region"]

In [8]:
#Making Cross table for chi-square test
myCrosstable=pd.crosstab(dataRegion,dataManager)
myCrosstable

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [9]:
#Doing Chi-Square test of independence and saving values
chiValue,pValue,DOF,exp=st.chi2_contingency(myCrosstable)

In [10]:
#Checking P-value
print("The P-Value is =",pValue)

The P-Value is = 0.5493991051158094

### Insights
#### • P-Value is greater than 0.05 (Level of significance)
#### • Thus we can infer that our null hypothesis is TRUE at 0.05 (Level of significance)
#### • There is no dependency between "Manager" and "Region"